header {
    background-color: navy;
    padding: 20px;
}

.Boto {
    background-color: navy; 
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.Boto:hover {
    background-color: #0056b3;
}

body {
    
    font-family: Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #add8e6;
}

h1 {
    color: white; 
    text-align: center;
}

h2 {
    color: white; 
    text-align: center;
}

table {
width: 100%;
border-collapse: collapse;
margin: 20px 0;
}

th {
background-color: navy;
color: white;
padding: 10px;
text-align: left;
}

tr:nth-child(even) {
background-color: white;
}

td {
padding: 10px;
text-align: left;
}

tr:hover {
background-color: gold;
transition: background-color 0.3s;
}

